.venv_olympics

__pycache__/

To-Do.txt

experimental.ipynb

checkpoints/
test_data/
data/
raw_data/
clean_data/
clean_data_II/
data_clean_final/
failure_cases/
logs/

postgres-db-volume/
pgadmin-data/
minio-data/

# Airflow local files
airflow.db
airflow.cfg
webserver_config.py

# Airflow logs
logs/
dag_processor_manager/
unittests.cfg

# SQLite metadata database (default)
*.db
*.db-journal

# Environment and virtualenv
venv/
.env/
*.pyc
__pycache__/

# Docker and Airflow containers
*.log
*.pid

# Airflow dags (if generated dynamically)
dags/__pycache__/
plugins/__pycache__/

# Optional: local Airflow run files
airflow-webserver.pid
