pandas
requests
beautifulsoup4
lxml
pyarrow
html5lib
pandera
rapidfuzz
s3fs 
boto3
apache-airflow==2.10.5 --constraint https://raw.githubusercontent.com/apache/airflow/constraints-2.10.5/constraints-3.12.txt



